/*External CSS3 File for Responsive 768px/500px Designed - Project Portfolio */
/*Un restricted Styling - Full Screen*/

/*General Styling*/
body {
    margin: 0 auto;
    background-image: url("http://wallpaperget.com/images/binary-code-wallpaper-1.jpg");
    background-repeat: round;
    background-color: #f9fcfc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4d4d4d;
}

#wrapper {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 1% auto;
    width: 93%;
    padding: 2% 1% 2% 5%;
    border-radius: 7%;
    position: relative;
    background: -webkit-linear-gradient(#f9fcfc, #a2d6d6);
    background: -o-linear-gradient(#f9fcfc, #a2d6d6);
    background: -moz-linear-gradient(#f9fcfc, #a2d6d6);
    background: linear-gradient(#f9fcfc, #a2d6d6);
}

#navbar {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: fixed;
    margin: 10% 1.5% 10% -5%;
    padding: 1%;
    background-color: lightgray;
    opacity: 0.5;
    border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
}

    #navbar ul {
       display: none;     
    }

    #navbar h3 {
        color: #0d0d0d;
    }

h1 {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 1.4em;
    font-weight: bold;
}

h3, h4, h5, h6 {
    font-size: 1.2em;
    font-weight: bold;
}

p {
    font-size: 1.3em;
    line-height: normal;
    text-align: left;
}

ul li {
    font-size: 1.1em;
    line-height: normal;
}

/*Error View Styling*/
#error_view {
    color: red;
    margin: 1% auto;
    text-align: left;
}

/*Shared View _Layout Styling*/

/*Footer*/

footer {
    position: relative;
    width: 100%;
    resise: both;
}
footer hr {
    clear: both;
    width: 90%;
    margin: 1% auto;
}

/*Left of Footer*/
#logo {
    float: left;
    width: 19%;
    margin: 0.5% 0.5% 0 2%;
}

#footer_shares_linkedin {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 2% 0 0 10.5%;
    list-style-type: none;
    }

    #footer_shares_linkedin li a img {
        border-radius: 40% 40% 0 0;
        width: 13%;
        border: ridge;
        border-color: lightgray;
        padding-top: 0.1%;
    }

/*Middle of Footer*/
#footer_contact_details {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    list-style-type: none;
    font-weight: normal;
    text-align: center;
    margin: -5% 4% 0 0;
    }

    #footer_contact_details li a {
        font-size: 1em;
    }

        #footer_contact_details li a img {
            width: 10%;
            min-width: 40px;
            padding-top: 0.5%;
        }

    #footer_contact_details li a sub {
        padding-left: 2%; /*centers copyright under centact details*/
    }

/*Right of Footer*/
#twitter_container {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: right;
    width: 16%;
    margin: -12% 2% 2% 3%;
}

#footer_shares_twitter { /*also Styles Facebook share button*/
    list-style-type: none;
    padding-bottom: 1%;
    display: block;
}

    #footer_shares_twitter li a img {
        position: relative;
        resize: both;
        width: 100%;
        border-radius: 40% 40% 0 0;
        border: ridge;
        border-color: lightgray;
    }

/* Restricted Styling - 768px max Screen*/
@media only and (max-width: 768px) {
    h1 {
        font-size: 1.4em;
        font-weight: bold;
        text-align: center;
    }

    h2 {
        font-size: 1.1em;
        font-weight: bold;
    }

    h3, h4, h5, h6 {
        font-size: 1.0em;
        font-weight: bold;
    }

    p {
        font-size: 1.2em;
        line-height: normal;
    }

    ul li {
        font-size: 1.0em;
        line-height: normal;
    }
}
/* Restricted Styling - 500px max Screen*/
@media only and (max-width: 500px) {
    h1 {
        font-size: 1.3em;
        font-weight: bold;
        text-align: center;
    }

    h2 {
        font-size: 1.1em;
        font-weight: bold;
    }

    h3, h4, h5, h6 {
        font-size: 1.0em;
        font-weight: bold;
    }

    p {
        font-size: 1em;
        line-height: normal;
    }

    ul li {
        font-size: 1.0em;
        line-height: normal;
    }
}
