@model System.Web.Mvc.HandleErrorInfo

<div>
	<h2>An error occurred while processing your request.</h2>
	<p>
		Please resubmit your request. If the problem persists, please contact 
		John Mulhall at johnmlhll@yahoo.com for technical support.
	</p>
</div>
