@{
    ViewBag.Title = "Resume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="resume_wrapper">
    <h2>Resume</h2>
	<p>
	    Name: <i>John Mulhall</i> <span class="project_right">Title: <i>Software Developer | Software Engineer</i></span>
	</p>
	<div id="language_slideshow">
        <img id="slideshow_csharp" src="~/Images/imgLogoCSharpVS.jpg"/>
        <img id="slideshow_bash" src="~/Images/imgLogoBash.png"/>
        <img id="slideshow_xml" src="~/Images/imgLogoXML.png"/>
        <img id="slideshow_android" src="~/Images/imgLogoAndroid.png"/>
        <img id="slideshow_python" src="~/Images/imgLogoPython.png"/>
	</div>
	<div id="profile">
		<h3>Profile</h3>
        <ul>
			<li>Proficient in OOP programming on .Net and Java stacks</li>
			<li>Proficient in database design and development on (relational) SQLServer, MySQL, PostgreSQL | NoSQL on XML, MongoDB</li>
			<li>1st class honours in Science in Computing (Software Development) Associates Degree at 78% (2017)</li>
			<li>Industry certified in Microsoft technology (MTA from 2015) and Java technology (OCA from 2017)</li>
			<li>Involved in open source community and was Community Manager for Hadoop User Group Ireland for 15 months</li>
			<li>Writer for Irish Tech News on technology and business</li>
			<li>Former process management professional with 15 years commerical experience covering 5 industry domains</li>
			<li>Transferrable industry experience/training in Lifesciences, Food, Freight & Logistics, Financial Services and Information Technology</li>
		</ul>
		<hr class="hr_class"> 
	</div>
	<!--Skills Section-->
	<a class="btn_expand">Technical Skills Analysis (2017) | Click for More/Less</a>
	<div class="portfolio_entry_detail">
		<p><strong>Top Skills</strong></p>
		<p>
		    C# | HTML5 | CSS3 | ASP.NET | Razor | MVC | Object Orientated Programming | Application Design | SQL | SQL Server | PostgreSQL |
			Web Development
		</p>
		<p><strong>Enterprise Ready/Medium Skills</strong></p>
		<p>
			Java | Javascript | MySQL | Bash Scripting | Database Design and Development | Swing | Android | AngularJS (4) | Android |
			Server Side Programming | Algorithms | Swing | Social Media | Web Forms | Winforms | N Tier Architecture | Data Analysis |
			Python | Pandas | Plotly
		</p>
        <p><strong>Near Enterprise Ready/Lower Skills</strong></p>
		<p>
             NodeJS | ExpressJS | Java Spring | Hibernate | Image/Video Editing | CMS | Hadoop | DSS Machine Learning Platform
		</p>
	</div>
	<hr class="hr_class">		
	<!--Education Section-->
    <a class="btn_expand">Education Analysis (2017) | Click for More/Less</a>
    <div class="portfolio_entry_detail">
        <p><strong>Top Educational Acheivement</strong></p>
        <p>
            2017 - Higher Diploma in Science in Computing(Software Development)
			<span class="project_right">Result: 1st Class Honours (78%)</span> 
		</p>
        <p><strong>3rd Level - Higher Education</strong></p>
        <p>
			QQI Level 8: 2017 - Higher Diploma in Science in Computing(Software Development) 
			at Dublin Business School (a.k.a Associates Degree, Conversion Degree)
            <span class="project_right">Result: 1st Class Honours</span> 
        </p>
		<p>
            QQI Level 8: 2015 - Higher Certificate in Software and Cloud Technology
            at Dublin Business School 
            <span class="project_right">Result: 1st Class Honours</span> 
        </p>
		<p>
            QQI Level 8: 2014 - Higher Certificate in Advanced Project Management for the ICT  
            Professional at Dublin Business School 
            <span class="project_right">Result: 1st Class Honours</span> 
        </p>
		<p>
            QQI Level 7: 1997 - Certificate in Financial Services at Institute of Banking and 
			University College Dublin
            <span class="project_right">Result: Pass</span> 
        </p>
        <p><strong>Industry Certification and Training</strong></p>
		<p>
             07/2017 IKM - Software Quality Assurance Testing by IKM International for Harvey Nash plc 
            <span class="project_right">Result: 83% - Pass</span>
        </p>
        <p>
             06/2017 MTA - 98-375 HTML App Development Fundamentals at Dublin Business School
			<span class="project_right">Result: 88% - Pass</span>
        </p>
		<p>
             06/2017 OCA - IZ0-811 Java Foundations - Certified Junior Asscociate at Cenit College
            <span class="project_right">Result: 71% - Pass</span>
        </p>
		<p>
             05/2017 MTA - 98-366 Networking Fundamentals at Dublin Business School
            <span class="project_right">Result: 72% - Pass</span>
        </p>
		<p>
             04/2017 MTA - 98-364 Database Fundamentals at Dublin Business School
            <span class="project_right">Result: 90% - Pass</span>
        </p>
		<p>
             07/2016 MongoDB - M101JS MongoDB for Node.js Developers at MongoDB University
            <span class="project_right">Result: 89% - Pass</span>
        </p>
		<p>
             05/2015 MTA - 98-366 Web Development Fundamentals at Cenit College
            <span class="project_right">Result: 77% - Pass</span>
        </p>
		<p>
             04/2015 MTA - 98-366 Software Development Fundamentals at Dublin Business School
            <span class="project_right">Result: 77% - Pass</span>
        </p>
		<p><strong>Vocational Training</strong></p>
		<p>
            1996 - NVEC Certificate in Business Studies
            <span class="project_right">Result: Distinction</span>
        </p>
		<p>
            1996 - Pitman Certificate in Typewriting at Elementary Grade (25 Words Per Minute)
            <span class="project_right">Result: First Class</span>
        </p>
        <p>
            1992 - City & Guilds Foundation Certificate in Information Technology
			<span class="project_right">Result: Pass</span>
        </p>
		<p><strong>2nd Level Education</strong></p>
        <p>
            1990 - Leaving Certificate from Irish Department of Education at Pobalscoil Rosmini 
			<span class="project_right">Result: 3 Honours, 5 Passes and 0 Fails</span>
        </p>
    </div>
    <hr class="hr_class">   
	<!--Project Management Section-->
    <a class="btn_expand">Project Journey and Timeline | Click for More/Less</a>
    <div class="portfolio_entry_detail">
		<section class="timeline">
    	    <ul>
    			<li>
					<div>
                        <p><time><strong>2017</strong></time>
    					Project: Video Analysis as Software Enginner (Commercial R&D) - I was charged with building 
    					building an application framework in Java/PostgreSQL on Linux to house the project database and transcode project 
    					code from Kinesense Ltd's priority algorithm into Java for use on the framework, which was build to be compatible with 
    					ARM64 processors.</p>
					</div>
    			</li>
				<li>
					<div>
                        <p><time><strong>2017</strong></time>
    					Project: Safe Haven as Student Software Developer (Non Commerical) - An individual project for mobile computing of 
    					my block 3 course in Android. I developed this application in Android Studio based on the need for handy and time 
    					efficient registration of those in crises been registered by aid workers using their handheld android devices.
                        Technology Used was Android Studio version 2.3.3 and Google Firebase.</p>
					</div>
				</li>
    		</ul>	
	    </section>
    </div>
    <hr class="hr_class">   
	<!--Work Experience Section-->
    <a class="btn_expand">Work Experience Timeline | Click for More/Less</a>
    <div class="portfolio_entry_detail">
    </div>
    <hr class="hr_class">   
</div>

