@{
    ViewBag.Title = "Resume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<article id="resume_wrapper">
	<h2>Resume</h2>
	<p>
	    Name: <i>John Mulhall</i> <span class="project_right">Title: <i>Software Developer | Software Engineer</i></span>
	</p>
	<div id="language_slideshow">
        <img id="slideshow_csharp" src="/Images/imgLogoCSharpVS.jpg" alt="Slideshow of images starting with CSharp on Visual Studio Logo"/>
        <img id="slideshow_bash" src="/Images/imgLogoBash.png" alt="Slideshow of images starting with Bash logo"/>
        <img id="slideshow_xml" src="/Images/imgLogoXML.png" alt="Slideshow of images starting with XML logo"/>
        <img id="slideshow_android" src="/Images/imgLogoAndroid.png" alt="Slideshow of images starting with Android"/>
        <img id="slideshow_python" src="/Images/imgLogoPython.png" alt="Slideshow of images starting with Python"/>
	</div>
	<div id="profile">
		<h3>Profile</h3>
        <ul>
			<li>Proficient in OOP programming on .Net and Java stacks</li>
			<li>Proficient in database design and development on (relational) SQLServer, MySQL, PostgreSQL | NoSQL on XML, MongoDB</li>
			<li>1st class honours in Science in Computing (Software Development) Associates Degree at 78% (2017)</li>
			<li>Industry certified in Microsoft technology (MTA from 2015) and Java technology (OCA from 2017)</li>
			<li>Involved in open source community and was Community Manager for Hadoop User Group Ireland for 15 months</li>
			<li>Writer for Irish Tech News on technology and business</li>
			<li>Former process management professional with 15 years commerical experience covering 5 industry domains</li>
			<li>Transferrable industry experience/training in Lifesciences, Food, Freight & Logistics, Financial Services and Information Technology</li>
		</ul>
		<hr class="hr_class"> 
	</div>
	<!--Technical Skills Section-->
	<a class="btn_expand">Technical Skills Analysis (2017) | Click for More/Less</a>
	<div class="portfolio_entry_detail">
		<p><strong>Top Skills</strong></p>
		<p>
		    C# | HTML5 | CSS3 | ASP.NET | Razor | MVC | Object Orientated Programming | Application Design | SQL | SQL Server | PostgreSQL |
			Web Development
		</p>
		<p><strong>Enterprise Ready/Medium Skills</strong></p>
		<p>
			Java | Javascript | MySQL | Bash Scripting | Database Design and Development | Android | AngularJS (4) | Android |
			Server Side Programming | Algorithms | Swing | Social Media | Web Forms | Winforms | N Tier Architecture | Data Analysis |
			Python | Pandas | Plotly
		</p>
        <p><strong>Near Enterprise Ready/Lower Skills</strong></p>
		<p>
             NodeJS | ExpressJS | Java Spring | Hibernate | Image/Video Editing | CMS | Hadoop | DSS Machine Learning Platform
		</p>
	</div>
	<hr class="hr_class">		
	<!--Education Section-->
    <a class="btn_expand">Educational Awards Analysis (2017) | Click for More/Less</a>
    <div class="portfolio_entry_detail">
        <p><strong>Top Educational Acheivement</strong></p>
        <p>
            2017 - Higher Diploma in Science in Computing(Software Development)
			<span class="project_right">Result: 1st Class Honours (78%)</span> 
		</p>
        <p><strong>3rd Level - Higher Education</strong></p>
        <p>
			QQI Level 8: 2017 - Higher Diploma in Science in Computing(Software Development) 
			at Dublin Business School (a.k.a Associates Degree, Conversion Degree)
            <span class="project_right">Result: 1st Class Honours</span> 
        </p>
		<p>
            QQI Level 8: 2015 - Higher Certificate in Software and Cloud Technology
            at Dublin Business School 
            <span class="project_right">Result: 1st Class Honours</span> 
        </p>
		<p>
            QQI Level 8: 2014 - Higher Certificate in Advanced Project Management for the ICT  
            Professional at Dublin Business School 
            <span class="project_right">Result: 1st Class Honours</span> 
        </p>
		<p>
            QQI Level 7: 1997 - Certificate in Financial Services at Institute of Banking and 
			University College Dublin
            <span class="project_right">Result: Pass</span> 
        </p>
        <p><strong>Industry Certification and Training</strong></p>
		<p>
             07/2017 IKM - Software Quality Assurance Testing by IKM International for Harvey Nash plc 
            <span class="project_right">Result: 83% - Pass</span>
        </p>
        <p>
             06/2017 MTA - 98-375 HTML App Development Fundamentals at Dublin Business School
			<span class="project_right">Result: 88% - Pass</span>
        </p>
		<p>
             06/2017 OCA - IZ0-811 Java Foundations - Certified Junior Associate at Cenit College
            <span class="project_right">Result: 71% - Pass</span>
        </p>
		<p>
             05/2017 MTA - 98-366 Networking Fundamentals at Dublin Business School
            <span class="project_right">Result: 72% - Pass</span>
        </p>
		<p>
             04/2017 MTA - 98-364 Database Fundamentals at Dublin Business School
            <span class="project_right">Result: 90% - Pass</span>
        </p>
		<p>
             07/2016 MongoDB - M101JS MongoDB for Node.js Developers at MongoDB University
            <span class="project_right">Result: 89% - Pass</span>
        </p>
		<p>
             05/2015 MTA - 98-363 Web Development Fundamentals at Cenit College
            <span class="project_right">Result: 77% - Pass</span>
        </p>
		<p>
             04/2015 MTA - 98-361 Software Development Fundamentals at Dublin Business School
            <span class="project_right">Result: 77% - Pass</span>
        </p>
		<p><strong>Vocational Training</strong></p>
		<p>
            1996 - NVEC Certificate in Business Studies
            <span class="project_right">Result: Distinction</span>
        </p>
		<p>
            1996 - Pitman Certificate in Typewriting at Elementary Grade (25 Words Per Minute)
            <span class="project_right">Result: First Class</span>
        </p>
        <p>
            1992 - City & Guilds Foundation Certificate in Information Technology
			<span class="project_right">Result: Pass</span>
        </p>
		<p><strong>2nd Level Education</strong></p>
        <p>
            1990 - Leaving Certificate from Irish Department of Education at Pobalscoil Rosmini 
			<span class="project_right">Result: 3 Honours, 5 Passes and 0 Fails</span>
        </p>
    </div>
    <hr class="hr_class">   
    <!--Non Technical Skills Section-->
    <a class="btn_expand">Non-Technical Skills Analysis (2017) | Click for More/Less</a>
    <div class="portfolio_entry_detail">
        <p><strong>Marketing</strong></p>
        <p>
            Marketing | Social Media | Writing | Blogging | Event Management | Content Marketing | Promotions
        </p>
        <p><strong>Finance & Accounting</strong></p>
        <p>
            Capital Markets | Sorbannes Oxley | Treasury | Cash Management | Accounts Receivable | Accounts Payable | Credit Risk | Financial Accounting | General Ledger | Purchasing
        </p>
        <p><strong>Management</strong></p>
        <p>
             Project Management | Leadership | Company Culture | Change Management | Negotiation | Dispute Resolution | Employee Relations | Process Management
        </p>
    </div>
    <hr class="hr_class">  
	<!--Hobbies & Interests Section-->
    <a class="btn_expand">Hobbies, Pursuits and Interests | Click for More/Less</a>
    <div class="portfolio_entry_detail">
		<p>
            Coding | Technology | Championship GAA | Good TV | Cinema | Blogging/Writing
		</p>
    </div>
    <hr class="hr_class"> 
	<!--Work Experience Section-->
    <a class="btn_expand">Work Experience - Summary (2017) | Click for More/Less</a>
    <div class="portfolio_entry_detail">
        <section class="timeline">
            <ul>
                <li>
                    <div>
                        <p><strong>Career Summary</strong></p>
                        <p>2013 to Present: Transition to Technology with a software development focus</p>
                        <p>1998 - 2012: Transition to Financial Operations & Process Management with a leadership focus</p>
                        <p>1991 - 1997: Security & Military with a focus on the Irish Defence Forces</p>
						<p>
					        Industry Domain Experience: Mass Media, Information Technology, Big Data, Lifesciences, Financial Services, Consulting, 
							Financial Services, Food, Freight & Logistics, Business Process Outsourcing, Startups, Military, Security
						</p>	
                    </div>
                </li>
				<li>
                    <div>
                        <p>
							<strong>Technology: September 2016 - Present | Writer - Irish Tech News</strong>
                        </p>
						<p>
                            Regular Contributor writing articles on business and technology topics along with associated social media activities
                        </p>
                    </div>
				</li>
                <li>
                    <div>
                        <p>
							<strong>Technology: April 2017 - June 2017 | Software Engineer - Kinesense Ltd</strong>
                        </p>
						<p>
                            Built Application framework for propriety video analysis algorithm. Transcoded first part of algorithm to Java
							from C# and implemented on top of the framework. Stack is Java/PostgreSQL/CentOS
						</p>
                    </div>
                </li>
                <li>
                    <div>
                        <p>
							<strong>Technology: September 2016 - June 2017 | Full Time ICT Student - Dublin Business School</strong>
                        </p>
						<p>
                            Full time ICT Student studying the Higher Diploma in Science in Computing (Software Development) at Dublin
							Business School. Course was based on a condensed learning model where I achieved a 1st class honour at 78%
						</p>
                    </div>
                </li>
				 <li>
                    <div>
    					<p>
                            <strong>Technology: July 2015 - October 2016 | Community Manager - Hadoop User Group Ireland</strong>
    					</p>
    					<p>
							Managed Events and Marketing for Hadoop User Group and associated social media activities
    				    </p>	
                    </div>
                </li>
				<li>
                    <div>
                        <p>
							<strong>Technology: July 2015 - April 2016 | Marketing Technologist - Sonra Intelligence Ltd</strong>
                        </p>
						<p>
                            Implemented Digital Marketing and Data Analysis using Python and its main libraries 
							such as Pandas, Numpy, Matplotlib and Plotly on a 3 node cluster. Also did some Java development for the firm
						</p>
                    </div>
                </li>
				<li>
                    <div>
                        <p>
							<strong>Technology: September 2014 - October 2014 | Business Development Intern - Tradey Networks Ltd</strong>
                       </p>
					   <p>
                            Pursued lead generation and industry research
					   </p>	
                    </div>
                </li>
				<li>
                    <div>
                        <p>
							<strong>Technology: November 2012 - September 2014 | Career Break & Part Time ICT Study - Dublin Business School</strong>
                       </p>
					   <p>
							Acheived a 1st class honour in the Higher Certificate in Project Management for the ICT professional 
							during this period. Also took a career break post redunancy and developed my plan to transition to software.
					   </p>
                    </div>
                </li>
				<li>
                    <div>
                        <p>
							<strong>Process Management: September 2008 - October 2012 | International Accounts Support Manager - Integra Lifesciences Ltd</strong>
                        </p>
						<p>
                            Managed international functions with associated teams in accounts receivable, accounts payable and 
							credit risk from the Shared Service Centre in Dublin, Ireland
						</p>
                    </div>
                </li>
				<li>
                    <div>
                        <p>
							<strong>Process Management: May 2008 - September 2008 | EMEA AR Team Leader - Venn Finance Ltd</strong>
                        </p>
						<p>
                            Restructured the EMEA accounts receivable ledger and team practices at our client's premises (Integra Lifesciences Ltd)
						</p>
                    </div>
                </li>
				<li>
                    <div>
                        <p>
							<strong>Process Management: October 2008 - February 2008 | Financial Consultant - Stephen Harvey Limited</strong>
                        </p>
						<p>
                            Evaluated the real estate business and restructured the creditor's ledger for the business owner
						</p>
                    </div>
                </li>
				<li>
                    <div>
                        <p>
							<strong>Process Management: February 2007 - September 2007 | Credit & Operations Manager - FAI Finance Ltd</strong>
                        </p>
						<p>
                            Restructured the UK Debt Ledger for the Corporation's retail loan business
						</p>
                    </div>
                </li>
				<li>
                    <div>
                        <p>
							<strong>Process Management: April 2006 - February 2007 | Credit Manager - Kraft Foods Ltd</strong>
                        </p>
						<p>
                            Streamlined internal and external cash collection relationships and updated associated policies 
						</p>
                    </div>
                </li>
				<li>
                    <div>
                        <p>
							<strong>Process Management: August 2005 - April 2006 | Credit Manager - Meteor Telecommunications Ltd</strong>
                       </p>
					   <p>
							Designed and implemented the credit and collections policy for the company 
					   </p>
                    </div>
                </li>
				<li>
                    <div>
                        <p>
							<strong>Process Management: May 2001 - August 2005 | AR Coordinator - United Parcel Service (UPS)</strong>
                        </p>
						<p>
                            Updated cash collection practices and UPS Ireland's credit policy
						</p>
                    </div>
                </li>
				<li>
                    <div>
                        <p>
							<strong>Process Management: April 2000 - May 2001 | Assistant Credit Manager - Glanbia plc (Dairy)</strong>
						</p>
                        <p>
                            Transformed cash collection practices for the dairy division's SME Ledger and lead the implementation for the Credit Manager.
							Also wrote the division's SME Credit Policy post merger
						</p>
                    </div>
                </li>
				<li>
                    <div>
                        <p>
							<strong>Process Management: 1998 - 2000 | Finance & Marketing Roles - Various</strong>
                        </p>
						<p>
						    Acheived a successful business recovery of Kennedy & Associates. Also trained as a Credit Controller 
						    and Business Process Outsourcer with French & Associates during this period
						</p>
                    </div>
                </li>
				<li>
                    <div>
                        <p>
							<strong>Security: 1994 - 1997 | Soldier - Irish Defence Forces</strong>
                        </p>
						<p>
                            Trained as a professional Soldier and served with A Company, 29th Infantry Battalion on
							the Republic of Ireland's border with Northern Ireland
						</p>
                    </div>
                </li>
				<li>
                    <div>
                        <p>
						   <strong>Security: 1991 - 1994 | Private Security Roles - Various</strong>
                        </p>
						<p>
                            Numerous static and patrol roles in industrial and site security including Hospitals
						</p>
                    </div>
                </li>
            </ul>   
        </section>
    </div>
    <hr class="hr_class"> 
	<!--Project Management Section-->
    <a class="btn_expand">Key Project Management Highlights | Click for More/Less</a>
    <div class="portfolio_entry_detail">
		<section class="timeline">
    	    <ul>
                <li>
                    <div>
                        <p>
							<strong>2017</strong>
                            Project: MulderbertPX as Software Developer (Non-Commercial) - Developed a version 2.0 of a
							group project completed during college. Implemented data remodelling bringing validation fully 
							up to the application layer along with a database redesign.
							Also implemented front end modifications for more robust codebase and a better user experience.
							Technology Stack: C# | HTML5 | CSS3 | Javascript | Razor | ASP.NET | XML DB | SQL Server | Azure
						</p>
                    </div>
                </li>
				<li>
                    <div>
                        <p>
                            <strong>2017</strong>
                            Project: Angular 4 as Software Developer (Non-Commercial) - Developed a pure Angular 4 web application
							front end to show case Angular 4 tips and sites to see in Dublin city. 
							Technology Stack: HTML5 | CSS3 | Typescript | AngularJS 4.3 | Github Pages
                        </p>
                    </div>
                </li>
    			<li>
					<div>
                        <p>
						    <strong>2017</strong>
        					Project: Video Analysis as Software Enginner (Commercial R&D) - Developed an application framework in 
							Java/PostgreSQL on Linux (CentOS) to house the project database and transcode project 
        					code from Kinesense Ltd's priority algorithm into Java for use on the framework. 
							Technology Stack: Java | PostgreSQL | CentOS Virtual Machine | Linux
						</p>
					</div>
    			</li>
				<li>
					<div>
                        <p>
							<strong>2017</strong>
        					Project: Safe Haven as Student Software Developer (Non Commerical) - Developed a registration application 
							in Android Studio (version 2.3) based on the need for handy and time efficient registration of those in 
							crises been registered by aid workers using their handheld android devices. 
							Technology Stack: Java | Android | Firebase
						</p>
					</div>
				</li>
				<li>
                    <div>
                        <p>
                            <strong>2016</strong>
                            Project: Data Visualisation as a Marketing Technologist (Commercial) - Analysed big dataset on a 3 node
							cluster looking for patterns in customer behavour on the client's website that can be considered actionable
							from a commercial perspective. Dataset of in excess of 250 million records.
                            Technology Stack: Python | Data Science Studio | Hadoop | AWS
                        </p>
                    </div>
                </li>
				<li>
                    <div>
                        <p>
                            <strong>2015</strong>
                            Project: Datameer evaluation as a Community Manager (Non-Commercial) - Tried out and evaluated Datameer
							Big Data self service platform presenting the results to Hadoop User Group Ireland
                            Technology Stack: Datameer | Hadoop | AWS
                        </p>
                    </div>
                </li>
				 <li>
                    <div>
                        <p>
                            <strong>2013</strong>
                            Project: Career Change to Software Development as a myself (Personal) - Developed a path to leave
							Financial Operations and Process Management; moving to Software Development and Engineering
                        </p>
                    </div>
                </li>
				 <li>
                    <div>
                        <p>
                            <strong>2011</strong>
                            Project: Develop and implement Corporate Card programme as a Project Manager (Commercial) - Designed and 
							lead the project accross 15 entites in EMEA to introduce corporate cards from a single vendor 
                        </p>
                    </div>
                </li>
			     <li>
                    <div>
                        <p>
                            <strong>2010</strong>
                            Project: Design and implement a pan European Travel & Expense policy as a Accounts Support Manager (Commercial) - 
							Designed and lead the project accross 15 entites in EMEA to introduce a common and compliant travel 
							and expense policy with a centralised processing function in Dublin
                        </p>
                    </div>
                </li>
				<li>
                    <div>
                        <p>
                            <strong>2010</strong>
                            Project: Evaluate Financial Operations Processes Globally as Project Manager (Commercial) - 
                            Evaluated global accounts receivable, credit risk and accounts payable producing a report for 
							the senior leadership on the current state of processes and best practice process recommendations for the 
							introduction of Oracle R12 accross the organisation 
                        </p>
                    </div>
                </li>
				<li>
                    <div>
                        <p>
                            <strong>2008</strong>
                            Project: Restructure Cash Collection Practices as EMEA AR Team Leader (Commercial) - 
                            Evaluated EMEA collection practices and restructured them to a Sorbannes Oxley complaint set of cash collection
							and receivable practices accross EMEA
                        </p>
                    </div>
                </li>
				 <li>
                    <div>
                        <p>
                            <strong>2007</strong>
                            Project: Evaluate Real Estate Busines as Financial Consultant (Commercial) - 
                            Evaluated a real estate business and determined solvency position going forward for business owner
                        </p>
                    </div>
                </li>
				<li>
                    <div>
                        <p>
                            <strong>2007</strong>
                            Project: Restructure Debt Collection Practices as Credit and Operations Manager (Commercial) - 
                            Evaluated UK debt collection practices for FSA compliance and restructure them for optimal performance 
                        </p>
                    </div>
                </li>
			    <li>
                    <div>
                        <p>
                            <strong>2005</strong>
                            Project: Design and develop a Credit & Collections Policy as Credit Manager (Commercial) - 
                            Designed and developed a company wide B2B and B2C credit and collections policy for a telecommunications
							business.
                        </p>
                    </div>
                </li>
				<li>
                    <div>
                        <p>
                            <strong>2004</strong>
                            Project: Implement and beta test a European Cashiering System (ECS) as Country Project Rep (Commercial) - 
                            Participated in the deployment and user testing of the European Cashiering System controlling cash 
							transactions on a pan european basis.
                        </p>
                    </div>
                </li>
    		</ul>	
	    </section>
    </div>  
</article>

